<h1>Ajouter un avis</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rate, collection: [1, 2, 3, 4, 5], prompt: "Choisir une note" %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
